<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="btn-group mt-5" role="group" aria-label="Basic example">
        <a href="/calc" class="btn btn-primary">Калькулятор</a>
        <a href="/money" class="btn btn-primary">Перевод денег</a>
    </div>
</div>

<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>